<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aris.yemekgetir">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.auth.LoginActivities.activities.orderStatusAndRaiting.MapStatus"></activity>
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.SebetActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.Bahoo" />
        <activity android:name=".ui.auth.LoginActivities.activities.Axtaris" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.SifarishleriPlanlashdir" />
        <activity android:name=".ui.auth.LoginActivities.activities.AddAddress" />
        <activity android:name=".ui.auth.LoginActivities.activities.orderStatusAndRaiting.Thanks" />
        <activity android:name=".ui.auth.LoginActivities.activities.orderStatusAndRaiting.Kuryere_qiymet" />
        <activity android:name=".ui.auth.LoginActivities.activities.orderStatusAndRaiting.RaitingVerTwo" />
        <activity android:name=".ui.auth.LoginActivities.activities.orderStatusAndRaiting.RaitingVer" />
        <activity android:name=".ui.auth.LoginActivities.activities.orderStatusAndRaiting.OrderStatus" />
        <activity android:name=".ui.auth.LoginActivities.activities.SearchResult" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.KuryerOl" />
        <activity android:name=".ui.auth.LoginActivities.activities.AddMenuRestaurant" />
        <activity android:name=".ui.auth.LoginActivities.activities.bankActivity.BankCartActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.bankActivity.NagdOdenis" />
        <activity android:name=".ui.auth.LoginActivities.activities.MessageActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.bankActivity.ConfirmPaymentActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.RestaurantActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.MainActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.HaqqimizdaActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.BizimleElaqeActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.PromokodActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.UnvanActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.SifarishlerimActivity" />
        <activity android:name=".ui.auth.LoginActivities.activities.drawermenu.ProfilimActivity" />
        <activity
            android:name=".ui.auth.LoginActivities.activities.auth.RegisterCode"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".ui.auth.LoginActivities.activities.auth.RegisterNo"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".ui.auth.LoginActivities.activities.auth.Authentication"
            android:theme="@style/AppTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>